* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  height: 3rem;
  cursor: pointer;
  width: 6rem;
  background: linen;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  display: block;
  text-align: center;
  background: lightskyblue;
}

input,
button {
  height: 2rem;
}
.create {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* .ShoeCard {
  display: flex;
} */
.create-btn {
  background: lightyellow;
  height: 2rem;
}
h5 {
  color: green;
}
.create-container {
  display: flex;
  align-items: baseline;
}
